body {
  font-family: "Poppins", sans-serif;
  background: #d3cec8;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.img-responsive {
  width: 100%;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-3-cols-with-first-narrower {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.text-center {
  text-align: center;
}
.card {
  background: white;
  margin: 30px 0;
}

.card-body {
  margin: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #b6cef0;
  text-decoration: none;
}

section {
  margin: 0 auto;
  padding: 100px 0;
}
section.secondary {
  background-color: #d3cec8;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(/images/LRR.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 260px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.2;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 30px;
  font-style: italic;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  padding: 16px 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 3px;
  opacity: 0.6;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
}
section.trailer-section h3 {
  font-size: 30px;
  margin-bottom: 50px;
}
.embed,
.embed-1 {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
  margin: 0 auto;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/images/lovely-runner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer h4 {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.2;
}

footer p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.8;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;

  opacity: 0.8;
}

@media (max-width: 968px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 30px;
  }

  header h2,
  header h3 {
    font-size: 15px;
  }

  header a {
    font-size: 9px;
    padding: 10px 20px;
    letter-spacing: 2px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  section {
    padding: 30px 0;
  }
  .trailer {
    text-align: center;
  }
  .embed {
    display: none;
  }
}
